<!--
División que abrirá un Modal que permita el inicio de sesión de cuenta
-->
   <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                #{form @Secure.authenticate(), method:'post'}
                    #{if flash.error}
			            <p class="error">&{flash.error}</p>
                    #{/if}
                    #{if flash.success}
                        <p class="success">&{flash.success}</p>
                        #{/if}
                    <div class="modal-header">
                        <h4 class="modal-title">Inicio de Sesión</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group has-icon-left form-control-name">
                            <label class="sr-only" for="username">&{'secure.username'}</label>
                            <input name="username" type="text" class="form-control form-control-lg" id="username"
                            value="${flash.username}" placeholder="Ingresa Tu Nombre">
                        </div>
                        <div class="form-group has-icon-left form-control-password">
                            <label class="sr-only" for="password">&{'secure.password'}</label>
                            <input name="password" type="password" class="form-control form-control-lg" id="password"
                            value="" placeholder="Ingresa Tu Contraseña" autocomplete="off">
                        </div>
                        <div class="checkbox" style="text-align:left"> &nbsp &nbsp
                            <label for="remember">
                                <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
                            Recordarme
                            </label>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-social btn-social-icon btn-social-google">
                                <span class="icon-google"></span>
                            </a>
                            <a href="#" class="btn btn-social btn-social-icon btn-social-linkedin">
                                <span class="icon-linkedin"></span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-block" id="signin" value="Entrar">
                    </div>
                #{/form}
            </div>
        </div>
    </div>
