<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inicio de Sesión</title>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Inicio de Sesión</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Iniciar Sesión</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Inicio de Sesión</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-icon-left form-control-name">
                        <!--#{field 'nombre'}-->
                        <label class="sr-only" for="inputName">Ingresa Tu Nombre</label>
                        <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Ingresa Tu Nombre">
                        <!--#{/field}-->
                    </div>
                    <div class="form-group has-icon-left form-control-password">
                        <!--#{field 'password'}-->
                        <label class="sr-only" for="inputPassword">Ingresa Tu Contraseña</label>
                        <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Ingresa Tu Contraseña" autocomplete="off">
                        <!--#{/field}-->
                    </div>
                    <!--<p>Some text in the modal.</p>-->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Entrar</button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Entrar</button>-->
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>