#{extends 'main.html'/}
#{set title:'PatientFiles | Bienvenida'/}

<!--=========================PAGE CONTENT========================-->

    <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
      <div class="container">
          <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
          <ul class="nav navbar-nav pull-left">
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="@{Application.plansPayments}">Planes</a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="@{Application.newDentist}">Regístrate</a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="#">Inicar Sesión</a>
            </li>
            <li class="nav-item nav-item-toggable hidden-sm-up">
              <form class="navbar-form">
                <input class="form-control navbar-search-input" type="text" placeholder="Type your search &amp; hit Enter&hellip;">
              </form>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="/">
          <span class="icon-logo" style="padding-left: 820px"></span>
          <span class="sr-only">PatientFiles</span>
        </a>
        <a class="navbar-toggler hidden-md-up pull-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
        &#9776;
      </a>
        <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
          <span class="icon-user"></span>
        </a>
        
      </div>
    </nav>
    <header class="jumbotron bg-inverse text-center center-vertically" role="banner">
      <div class="container">
        <h1 class="display-3">Patient Files</h1>
        <h2 class="m-b-lg">No más expedientes perdidos, <em>precios accesibles</em><a href="ui-elements.html" class="jumbolink">, la información es poder</a>.</h2>
        <a class="btn btn-secondary-outline m-b-md" href="@{Application.newDentist}" role="button">Regístrate</a>
      </div>
    </header>
    <section class="section-intro bg-faded text-center hidden-overflow">
      <div class="container">
        <h3 class="wp wp-1">Misión</h3>
        <p class="lead wp wp-2">Brindar servicios de calidad al área de odontología de manera práctica, escalable y oportuna mediante las nuevas
		tecnologías de la web que contribuyan a las necesidades actuales de nuestros clientes.</p>
        <img src="@{'/public/img/ls/logoz.png'}" alt="iPad mock" class="img-responsive wp wp-6" align="center">
      </div>
    </section>
    <section class="section-features text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">Libre De Tinta</h4>
                <h6 class="card-subtitle text-muted">Digitalización</h6>
                <p class="card-text">Digitalización de los expediente médicos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">Accesible</h4>
                <h6 class="card-subtitle text-muted">Modernización</h6>
                <p class="card-text">Disponible entre pacientes y dentistas.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">Maravilloso</h4>
                <h6 class="card-subtitle text-muted">Fácil De Usar</h6>
                <p class="card-text">Amigable, sencillo y útil.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-pricing bg-faded text-center">
      <div class="container">
        <h3>Elige Tu Plan De Pago</h3>
        <div class="row p-y-lg">
          <div class="col-md-4 p-t-md wp wp-5">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                  <p><img src="@{'public/png/16px/0001-home.png'}"/></p>
                Personal
              </div>
              <div class="card-block">
                <p class="card-title">¡Inicia nuestra prueba hoy mismo!</p>
                <h4 class="card-text">
                  <span class="pricing-box-price" style="font-size: 2.5rem">¡Gratuito!</span>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Registro de 10 pacientes por mes</li>
                <li class="list-group-item">Procedimientos/Citas ilimitadas</li>
              </ul>
              <a href="#" class="btn btn-primary-outline">Empieza Ahora</a>
            </div>
          </div>
          <div class="col-md-4 stacking-top">
            <div class="card pricing-box pricing-best p-x-0">
              <div class="card-header text-uppercase">
                  <p><img src="@{'public/png/16px/0003-home3.png'}"/></p>
                Profesional
              </div>
              <div class="card-block">
                <p class="card-title">¡Actualízate a nuestra version Profesional!</p>
                <h4 class="card-text">
                  <sup class="pricing-box-currency">$</sup>
                  <span class="pricing-box-price">99</span>
                  <small class="text-muted text-uppercase">/mensual</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Registro ilimitado de pacientes</li>
                <li class="list-group-item">Exportado ilimitado de archivo clínico / PDF</li>
              </ul>
              <a href="#" class="btn btn-primary">Empezar Ahora</a>
            </div>
          </div>
          <div class="col-md-4 p-t-md wp wp-6">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                  <p><img src="@{'public/png/16px/0004-office.png'}"/></p>
                Profesional Plus
              </div>
              <div class="card-block">
                <p class="card-title">¡Proximo lanzamiento de nuestro sistema!</p>
                <h4 class="card-text">
                  <span class="pricing-box-price" style="font-size:2.5rem">Próximamente</span>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">¡Próximamente!</li>
				<li class="list-group-item">¡Con nuevas funcionalidades!</li>
              </ul>
              <button type="button" disabled class="btn btn-primary">Empezar Ahora</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-testimonials text-center bg-inverse">
      <div class="container">
        <h3 class="sr-only">Testimonials</h3>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="@{'public/img/ls/doc1.jpg'}" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Usable, portable, amigable y fácil de usar.</p>
                <footer>Svetlana Matrushka</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="@{'public/img/ls/doc2.jpg'}" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Adquiere una cuenta con nosotros.</p>
                <footer>David Carson</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="@{'public/img/ls/doc3.jpg'}" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Diseñado para un eficiente servicio.</p>
                <footer>Mila Kunis</footer>
              </blockquote>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li class="active"><img src="@{'public/img/ls/doc1.jpg'}" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="0" class="img-responsive img-circle"></li>
            <li><img src="@{'public/img/ls/doc2.jpg'}" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="1" class="img-responsive img-circle"></li>
            <li><img src="@{'public/img/ls/doc3.jpg'}" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="2" class="img-responsive img-circle"></li>
          </ol>
        </div>
      </div>
    </section>
    <section class="section-text">
      <div class="container">
        <h3 class="text-center">Promoviendo La Cooperación Laboral</h3>
        <div class="row p-y-lg">
          <div class="col-md-5" align="right">
            <p class="wp wp-7">Con el fin de crear un ambiente laboral que fomente la cooperación entre distintos especialista en pro de los pacientes para un mejor
			manejo y control de los mismos.</p>
          </div>
          <div class="col-md-5 col-md-offset-2 separator-x">
            <p class="wp wp-8">Facilitando tanto a pacientes como a dentistas el manejo de la historia clínica, que contiene todos los aspectos evaluados del paciente
			(Información personal, historia médica, inmunizaciones, vicios y antecedentes patológicos)</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-news">
      <div class="container">
        <h3 class="sr-only">News</h3>
        <div class="bg-inverse">
          <div class="row">
            <div class="col-md-6 p-r-0">
              <figure class="has-light-mask m-b-0 image-effect">
                <img src="@{'public/img/ls/sq1_cropped.jpg'}" alt="Article thumbnail" class="img-responsive">
              </figure>
            </div>
            <div class="col-md-6 p-l-0">
              <article class="center-block">
                <span class="label label-info">Recepción</span>
                <br>
                <h5><a href="#">Diseño Del Sitio</a></h5>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span> Diseño De Estudio</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> Hace 1 Hora</span></a>
                </p>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6 p-l-0">
              <figure class="has-light-mask m-b-0 image-effect">
                <img src="@{'public/img/ls/sq2_cropped.jpg'}" alt="Article thumbnail" class="img-responsive">
              </figure>
            </div>
            <div class="col-md-6 col-md-pull-6 p-r-0">
              <article class="center-block">
                <span class="label label-info">Sala De Espera</span>
                <br>
                <h5><a href="#">Diseño Del Sitio <span class="icon-arrow-right"></span></a></h5>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span>Interiores Cómodos</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> Hace 1 Día</span></a>
                </p>
              </article>
            </div>
          </div>
		  <div class="row">
            <div class="col-md-6 p-r-0">
              <figure class="has-light-mask m-b-0 image-effect">
                <img src="@{'public/img/ls/sq3_cropped.jpg'}" alt="Article thumbnail" class="img-responsive">
              </figure>
            </div>
            <div class="col-md-6 p-l-0">
              <article class="center-block">
                <span class="label label-info">Sala De Operaciones</span>
                <br>
                <h5><a href="#">Diseño Del Sitio</a></h5>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span>Diseño De Sala </span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> Hace 10 Horas</span></a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-signup bg-faded">
      <div class="container">
        <h3 class="text-center m-b-lg">¡Regístrate Para Recibir Los Beneficios!</h3>
        <form>
          <div class="row">
            <div class="col-md-6 col-xl-3">
              <div class="form-group has-icon-left form-control-name">
                <label class="sr-only" for="inputName">Tu Nombre</label>
                <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Tu Nombre">
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="form-group has-icon-left form-control-email">
                <label class="sr-only" for="inputEmail">Dirección De Correo</label>
                <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Dirección De Correo" autocomplete="off">
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="form-group has-icon-left form-control-password">
                <label class="sr-only" for="inputPassword">Ingresa Una Contraseña</label>
                <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Ingresa Una Contraseña" autocomplete="off">
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">¡Regístro Gratuito!</button>
              </div>
            </div>
          </div>
          <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Estoy de acuerdo con los términos y condiciones de PatientFiles <a href="#">términos y condiciones</a>
          </label>
        </form>
      </div>
    </section>