#{extends 'main.html'/}
#{set title:'PatientFiles | Registro'/}

<!--=========================PAGE CONTENT========================-->
<!--
Navbar que define los menús de navegación
-->
#{navbarGeneral/}

    <div class="container">
      <div class="row">
        <hr class="invisible">
          <!--
          División que tiene los campos para el registro de un usuario
          -->
       <h1 style="text-align: left">&nbspMódulo de Registro</h1>
        <br/>
        #{form @Application.saveUser()}
        <div class="col-md-6 col-lg-4">
          <div class="form-group has-icon-left form-control-name">
              #{field 'nombre'}
            <label class="sr-only" for="inputName">Tu Nombre</label>
            <input name="nombre" type="text" class="form-control form-control-lg" id="inputName" placeholder="Tu Nombre">
            #{/field}
          </div>
          <div class="form-group has-icon-left form-control-email">
              #{field 'email'}
            <label class="sr-only" for="inputEmail">Dirección De Correo</label>
            <input name="email" type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Dirección De Correo" autocomplete="off">
            #{/field}
          </div>
          <div class="form-group has-icon-left form-control-password">
              #{field 'password'}
            <label class="sr-only" for="inputPassword">Ingresa Una Contraseña</label>
            <input name="password" type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Ingresa Una Contraseña" autocomplete="off">
            #{/field}
          </div>
            <div class="form-group has-icon-left form-control-feedback">
            #{field 'birthday'}
                <label class="sr-only" for="inputPassword">Ingresa Fecha de Nacimiento</label>
                <input name="birthday" type="text" class="form-control form-control-lg" id="inputFecha" placeholder="Fecha Nacimiento: mm/dd/yyyy" autocomplete="off">
            #{/field}
            </div>
          <button type="submit" class="btn btn-primary btn-block">¡Registro Gratuito!</button>
          <hr class="invisible">
        </div>
        #{/form}
        <div class="col-md-6 col-lg-4">
        </div>

          <!--
          División que mostrará los metodos para iniciar sesión de un metodo Social
          -->
        <div class="col-md-6 col-lg-4">
          <hr class="invisible">
          <a href="#" class="btn btn-social btn-block bg-google">
            <span class="icon-google"></span> Registrate Con Google
          </a>
          <hr class="invisible">
          <a href="#" class="btn btn-social btn-block bg-linkedin">
            <span class="icon-linkedin"></span> Registrate Con LinkedIn
          </a>
            <hr class="invisible">
            <a href="#" class="btn btn-social btn-block bg-facebook">
                <span class="icon-linkedin"></span> Registrate Con Facebook
            </a>
          <!--<hr class="invisible">
          <div class="text-center">
            <a href="#" class="btn btn-social btn-social-icon btn-social-google">
              <span class="icon-google"></span>
            </a>
            <a href="#" class="btn btn-social btn-social-icon btn-social-linkedin">
              <span class="icon-linkedin"></span>
            </a>
          </div>-->
          <hr class="invisible">
        </div>
        <div class="clearfix hidden-xl-up"></div>

      </div>
    </div>
