#{extends 'main.html'/}
#{set title:'PatientFiles | Planes'/}

<!--=========================PAGE CONTENT========================-->
<!--
Navbar que define los menús de navegación
-->
#{navbarGeneral/}

<!--
División que muestra información extra sobre los metodos de pago e información
llamativa que contiene cada pago
-->
<section class="section-pricing bg-faded text-center">
      <div class="container">
        <h3>Elige Tu Tipo De Plan</h3>
        <div class="row p-y-lg">
          <div class="col-md-4 p-t-md wp wp-5">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                <p><img src="@{'public/png/16px/0001-home.png'}"/></p>
				Personal
              </div>
              <div class="card-block">
                <p class="card-title">¡Inicia nuestra prueba hoy mismo!</p>
                <h4 class="card-text">
                  <span class="pricing-box-price" style="font-size: 2.5rem">¡Gratuito!</span>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Registro de 10 pacientes por mes</li>
                <!--<li class="list-group-item">Lectura de expedientes referenciados</li>-->
                <li class="list-group-item">Procedimientos/Citas ilimitadas</li>
              </ul>
              <a href="#" class="btn btn-primary-outline">Empezar Ahora</a>
            </div>
          </div>
          <div class="col-md-4 stacking-top">
            <div class="card pricing-box pricing-best p-x-0">
              <div class="card-header text-uppercase">
                  <p><img src="@{'public/png/16px/0003-home3.png'}" style="color: white"/></p>
				Profesional
              </div>
              <div class="card-block">
                <p class="card-title">¡Actualízate a nuestra versión Profesional!</p>
                <h4 class="card-text">
                    <sup class="pricing-box-currency">$</sup>
                  <span class="pricing-box-price">99</span>
                  <small class="text-muted text-uppercase"> &nbsp /mensual</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Regístro ilimitado de pacientes</li>
                <li class="list-group-item">Exportado ilimitado de archivo clínico / PDF</li>
              </ul>
              <a href="#" class="btn btn-primary">Empezar Ahora</a>
            </div>
          </div>
          <div class="col-md-4 p-t-md wp wp-6">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                <p><img src="@{'public/png/16px/0004-office.png'}"></p>
				Profesional Plus
              </div>
              <div class="card-block">
                <p class="card-title">¡Proximo lanzamiento de nuestro sistema!</p>
                <h4 class="card-text">
                    <span class="pricing-box-price" style="font-size: 2.5rem">Próximamente</span>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">¡Próximamente!</li>
				<li class="list-group-item">¡Con nuevas funcionalidades!</li>
              </ul>
              <button type="button" class="btn btn-primary" disabled>Próximamente</button>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	<section class="section-features text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">Personal</h4>
                <h6 class="card-subtitle text-muted">Plan Básico</h6>
                <p class="card-text">Cuéntale al mundo de tu proyecto personal.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">Profesional</h4>
                <h6 class="card-subtitle text-muted">Plan Intermedio</h6>
                <p class="card-text">Coloca tu proyecto en la mira de todos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">Profesional Plus</h4>
                <h6 class="card-subtitle text-muted">Plan Empresarial</h6>
                <p class="card-text">Lleva el éxito de tu trabajo a otro nivel.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--========================= / PAGE CONTENT========================-->
