#{set 'user'} Dr. &{usuario.name} &{usuario.lastName} #{/set}
#{extends 'mainMembers.html'/}
#{set title:'PatientFiles | Inicio'/}

#{set 'moreStyles'}
<link href="@{'/public/css/plugins/clockpicker/clockpicker.css'}" rel="stylesheet">
<link href="@{'/public/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
<link href="@{'/public/css/plugins/chosen/chosen.css'}" rel="stylesheet">

<style>
    .clockpicker-popover {
        z-index: 999999;
    }
    .chosen-container-single .chosen-single {
        width: 200px;
    }
    .chosen-container .chosen-drop {
        width: 200px;
    }
    .datepicker-dropdown {
        z-index: 999999 !important;
    }

    textarea {
        resize: none;
    }
</style>
#{/set}

<!--=========================PAGE CONTENT========================-->

#{citaMembers lis:lista/}

<div class="col-lg-4">
    <div class="">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Dr. &{usuario.name} &{usuario.lastName}
                </h2>
            </div>
            <img src="@{'/public/img/male1ch.png'}" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <span><i class="fa fa-user"></i> &{pacientes} Pacientes </span> |
                <span><i class="fa fa-list-alt"></i> &{nCitas} Citas</span><br>
                <span><i class="fa fa-calendar-o"></i> &{dias} dias restantes</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">Dr. &{usuario.name} &{usuario.lastName}</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>

<div class="col-lg-7">
    <div class="ibox float-e-margins" style="margin-top: 10px">
        <div class="ibox-title">
            <h5>Citas Agendadas para el dia de hoy</h5>
        </div>
        <div class="ibox-content">
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    #{if citas.size() > 0}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">Collapsible Group Item #1</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Collapsible Group Item #2</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Collapsible Group Item #3</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    #{/if}
                    #{else}
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                ¡No hay pendientes el día de hoy!
                            </div>
                            <div class="panel-body">
                                <p>¡Aprovecha en administrar tu dia!</p>
                            </div>
                        </div>
                    </div>
                    #{/else}
                </div>
            </div>
            <div class="ibox-footer">
                <button class="btn btn-sm btn-outline btn-warning">Editar Cita</button>
                <button class="btn btn-sm btn-outline btn-primary pull-right" id="button-new-ap">Nueva cita</button>
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
<!-- Chosen -->
<script src="@{'/public/js/plugins/chosen/chosen.jquery.js'}"></script>

<!-- Data picker -->
<script src="@{'/public/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>

<!-- Clock picker -->
<script src="@{'/public/js/plugins/clockpicker/clockpicker.js'}"></script>

<script type="text/javascript">
    $('#button-new-ap').click(function () {
        var show_popup = function () {
            $('.clockpicker').clockpicker({
                autoclose: true,
                placement: 'left'
            });   // colorpicker js
            $( "#datepicker" ).datepicker({
                todayHighlight: true,
                orientation: 'left top',
                startDate: 'month'
            });
            $(".chosen-select").chosen({
                width: "500px",
                disable_search_threshold: 25,
                placeholder_text_single: 'Selecciona un paciente'
            });
        }
        $('#myModal').modal('show');  // #myModal (id of modal box)
        window.setTimeout(show_popup, 200);

    });

</script>
#{/set}