#{set 'user'} Dr. &{usuario.name} &{usuario.lastName} #{/set}
#{extends 'mainMembers.html'/}
#{set title:'PatientFiles | Nvo. Paciente'/}

#{set 'moreStyles'}
<link href="@{'/public/css/plugins/steps/jquery.steps.css'}" rel="stylesheet">
<link href="@{'/public/css/plugins/chosen/chosen.css'}" rel="stylesheet">
<style>
    .wizard > .content > .body {
        position: relative;
    }

    .wizard > .content{
        overflow: visible;
    }
</style>
#{/set}


<!--=========================PAGE CONTENT========================-->
<form role="form" action="#">

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    Registro de nuevo paciente
                </h2>

                <p>
                    A continuación escriba y seleccione la informacion que desee ingresar al sistema de su paciente
                </p>
                #{form @Members.createPatient(), method:'post', id:'new-patient-form'}
                <div id="patient-form">
                    <h3>Información Personal</h3>
                    <section>
                        <div class="form-group">
                            #{field 'nombre'}
                            <label class="control-label col-sm-4" for="nombre">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="nombre" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'apellidoPaterno'}
                            <label class="control-label col-sm-4">Apellido Paterno</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'apellidoMaterno'}
                            <label class="control-label col-sm-4">Apellido Materno</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'fechaNac'}
                            <label class="control-label col-sm-4">Fecha Nac.</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'paisNac'} <!-- PENDIENTE -->
                            <label class="control-label col-sm-4">Pais Nac.</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm chosen-select" name="${field.name}">
                                    <option value="Mexico">Mexico</option>
                                    <option value="United States" selected="selected">United States</option>
                                    <option value="Canada">Canada</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Australia">Australia</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="null">-------------------</option>
                                </select>
                            </div>
                            #{/field}
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'estadoNac'}
                            <label class="control-label col-sm-4">Estado Nac.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'ciudadNac'}
                            <label class="control-label col-sm-4">Ciudad Nac.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'edad'}
                            <label class="control-label col-sm-4">Edad</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'sexo'} <!-- PENDIENTE -->
                            <label class="control-label             col-sm-4">Sexo</label>
                            <div class="col-sm-8">
                                <select id="formInput32" class="form-control input-sm chosen-select" name="${field.name}">
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                            #{/field}
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'edoCivil'} <!-- PENDIENTE -->
                            <label class="control-label            col-sm-4">Edo. Civil</label>
                            <div class="col-sm-8">
                                <select id="formInput40" class="form-control input-sm chosen-select" name="${field.name}">
                                    <option>Soltero(a)</option>
                                    <option>Casado(a)</option>
                                    <option>Divorciado(a)</option>
                                    <option>Union Libre</option>
                                </select>
                            </div>
                            #{/field}
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'ocupacion'}
                            <label class="control-label col-sm-4">Ocupacion</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'domicilio'}
                            <label class="control-label col-sm-4">Domicilio</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'colonia'}
                            <label class="control-label col-sm-4">Colonia</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'telefono'}
                            <label class="control-label col-sm-4">Telefono</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>
                    </section>
                    <h3>Familiar responsable</h3>
                    <section>
                        <div class="form-group">
                            #{field 'fnombre'}
                            <label class="control-label col-sm-4">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'fdomicilio'}
                            <label class="control-label col-sm-4">Domicilio</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            #{field 'ftelefono'}
                            <label class="control-label col-sm-4">Telefono</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="${field.name}">
                            #{/field}
                            </div>
                        </div>
                        <br>
                    </section>
                    <h3>Historia medica</h3>
                    <section>
                        <div class="form-group">
                            #{field 'motivoConsulta'}
                            <label class="control-label col-sm-4" >Motivo de la consulta</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" rows="3" name="${field.name}"></textarea>
                            #{/field}
                            </div>
                        </div>
                        <div class="form-group">
                            #{field 'antecedentesFam'}
                            <label class="control-label col-sm-4" >Antecedentes Familiares</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" rows="3" name="${field.name}"></textarea>
                            #{/field}
                            </div>
                        </div>
                        <div class="form-group">
                            #{field 'higieneGral'} <!-- PENDIENTE -->
                            <label class="control-label col-sm-4" >Higiene General</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm  chosen-select" name="${field.name}">
                                    <option>Excelente</option>
                                    <option>Buena</option>
                                    <option>Regular</option>
                                    <option>Mala</option>
                                    <option>Pesima</option>
                                    <option>Nula</option>
                                </select>
                            </div>
                            #{/field}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    #{field 'embarazo'}
                                    <label class="control-label">
                                        <input type="checkbox" value="" name="${field.name}">&nbsp;&nbsp;Embarazo
                                    </label>
                                    #{/field}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            #{field 'trimestre'} <!-- PENDIENTE -->
                            <label class="control-label col-sm-4">Trimestre</label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm chosen-select" name="${field.name}">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            #{/field}
                        </div>
                        <br>
                    </section>
                    <h3>Inmunizaciones y Vicios</h3>
                    <section>
                        <div class="form-group">
                            #{field 'inmunizaciones'}  <!-- PENDIENTE -->
                            <label class="control-label col-sm-4">Inmunizaciones</label>
                            <div class="col-sm-6">
                                <select data-placeholder="Seleccione" class="chosen-select" multiple tabindex="-1" style="display: none;" name="${field.name}">
                                    #{list items:inmunizaciones, as:'i'}
                                        <option value="${i.name}">${i.name}</option>
                                    #{/list}
                                </select>
                            </div>
                            #{/field}
                            <br>
                        </div>
                        <div class="form-group">
                            #{field 'vicios'} <!-- PENDIENTE -->
                            <label class="control-label col-sm-4 ">Vicios</label>
                            <div class="col-sm-6">
                                <select data-placeholder="Seleccione" class="chosen-select" multiple tabindex="-1" style="display: none;" name="${field.name}">
                                    #{list items:adicciones, as:'i'}
                                        <option value="${i.name}">${i.name}</option>
                                    #{/list}
                                </select>
                            </div>
                            #{/field}
                        </div>
                    </section>
                    <h3>Antecendentes patologicos</h3>
                    <section>
                        #{field 'antecedentes'}
                        <select data-placeholder="Seleccione" multiple id="antecedentes_patologicos" class="chosen-select"
                        required name="${field.name}">
                            #{list items:patologicos, as:'i'}
                                <option value="${i.name}">${i.name}</option>
                            #{/list}
                        </select>
                        #{/field}
                        <p><br><b>Nota:</b> Sostenga la tecla CTRL o CMD ⌘ para evitar se cierre el selector.</p>
                    </section>
                </div>
                #{/form}
            </div>
        </div>
    </div>
</form>


#{set 'moreScripts'}
<script src="@{'/public/js/plugins/staps/jquery.steps.min.js'}"></script>
<script src="@{'/public/js/plugins/validate/jquery.validate.min.js'}"></script>
<script src="@{'/public/js/plugins/chosen/chosen.jquery.js'}"></script>
<script type="application/x-javascript">
    $(document).ready(function () {
        $("#patient-form").steps({
            headerTag: "h3",
            bodyTag: "section",
            stepsOrientation: "vertical",
            enableAllSteps: true,
            onFinished: function (event, currentIndex)
            {
                var form = $('#new-patient-form');

                // Submit form input
                form.submit();
            }
        });
        $(".chosen-select").chosen({
            width:"100%",
            disable_search: true
        });
    });
</script>
#{/set}